header {
    background-color: greenyellow;
    width: 50vw;
    height: 100vh;
}
header a{
    color: brown;
    width: 100vw;
    height: 50vh;
}

#header a {
    color: cornflowerblue;
    font-size: 2em;
    font-size: 2rem;
}
