
#blogs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#blogs > .blog{
height: 400px;
width: 300px;
display: flex;
flex-direction: column;
/* justify-content: space-between; */

}

#blogs > .blog > div{
  flex: 1;
  overflow: hidden;
}
#blogs > .blog > div:nth-child(2){
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

#blogs > .blog img{
  height: 100%;
  width: 100%;
}